<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <!-- <link rel="stylesheet" href="/styles/common/reset.css">
    <link rel="stylesheet" href="/styles/common/frameword.css">
    <link rel="stylesheet" href="/styles/common/layout.css">
    <link rel="stylesheet" href="/styles/catalog/catalog.css">
    <link rel="stylesheet" href="/styles/cms/cms.css">
    <link rel="stylesheet" href="/styles/dependencies/common.css">
    <link rel="stylesheet" href="/styles/index/index.css">
    <link rel="stylesheet" href="/styles/product/product.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/catalog/catalog.css">
    <link rel="stylesheet" href="/styles/cms/cms.css">
    <link rel="stylesheet" href="/styles/dependencies/common.css">
    <link rel="stylesheet" href="/styles/dependencies/framework.css">
    <link rel="stylesheet" href="/styles/dependencies/layout.css">
    <link rel="stylesheet" href="/styles/dependencies/reset.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/index/index.css">
    <link rel="stylesheet" href="/styles/product/product.css">
    <!--STYLES END-->
  </head>

  <body>
  <div class="page-wrapper">
    <!-- <div class="top-header">
      support@myweddingknot.com &nbsp; &nbsp; &nbsp; &nbsp; 91-9811637373
    </div>
    <div class="header p20">
      <div class="logo-block fl">
        <a href="/" class="ml10"><img src="/images/myweddingknot-logo.jpg"></a>
      </div>
      <div class="nav-block fl">
        <a href="">Wedding Invitations</a>
        <a href="">Other Invitations</a>
        <a href="">Wedding Shop</a>
        <a href="">Inspirations</a>
        <a href="">Blog</a>

      </div>
      <div class="cart-block fr pr10">
        <a href=""><img src="/images/bag-icon.png"></a> -->
        <!--<a href=""><img src="/images/user-icon.png"></a>-->
        <!-- <a href=""><img src="/images/menu-icon2.png"></a>
      </div>
      <div class="clear"></div>
    </div> -->
    
    <%- body %>



  </div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.3.1.min.js"></script>
    <script src="/js/cart/cart.js"></script>
    <script src="/js/catalog/catalog.js"></script>
    <script src="/js/cms/cms.js"></script>
    <script src="/js/index/index.js"></script>
    <script src="/js/layout/layout.js"></script>
    <script src="/js/product/product.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
