<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/catalog/catalog.css">
    <link rel="stylesheet" href="/styles/cms/cms.css">
    <link rel="stylesheet" href="/styles/dependencies/common.css">
    <link rel="stylesheet" href="/styles/dependencies/framework.css">
    <link rel="stylesheet" href="/styles/dependencies/layout.css">
    <link rel="stylesheet" href="/styles/dependencies/reset.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/index/index.css">
    <link rel="stylesheet" href="/styles/product/product.css">
    <!--STYLES END-->
  </head>

  <body>
  <div class="page-wrapper">  
    <%- partial('shared/header/index.ejs') %>  
    <%- body %>
    <%- partial('shared/footer/index.ejs') %>  
  </div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.3.1.min.js"></script>
    <script src="/js/dependencies/jquery.cookie.js"></script>
    <script src="/js/cart/cart.js"></script>
    <script src="/js/catalog/catalog.js"></script>
    <script src="/js/cms/cms.js"></script>
    <script src="/js/index/index.js"></script>
    <script src="/js/layout/login.js"></script>
    <script src="/js/layout/validation.js"></script>
    <script src="/js/product/product.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
