<section class="container">
	<!-- breadcrumbs starts here -->
	<div class="breadcrumbs">

	</div>
	<!-- breadcrumbs ends here -->

	<!-- filters and product list starts here -->
	<section class="cat-body">
		<!-- filters starts here -->
		<%- partial('partial/facets.ejs')%>
		<!-- filters ends here -->

		<!-- product list starts here -->
		<%- partial('partial/cat-product.ejs')%>
		<!-- product list ends here -->
	</section>
	<!-- filters and product list starts here -->	
</section>
