
<section class="container catalog-body">
	<!-- breadcrumbs starts here -->
	<%- partial('../shared/widgets/breadCrumb.ejs', {breadCrumb}) %>
	<!-- breadcrumbs ends here -->

	<!-- filters and product list starts here -->
	<section class="cat-body">
		<!-- filters starts here -->
		<%- partial('partial/facets.ejs')%>
		<!-- filters ends here -->

		<!-- product list starts here -->
		<%- partial('partial/product-list.ejs')%>
		<!-- product list ends here -->
	</section>
	<!-- filters and product list starts here -->	
</section>