
<section style="heigh:100%; width:40%; margin:5% auto 5% 25%; text-align:center; border:1px solid">

<div>
    <h3>Signup</h3><br/>
    <label>User name</label>
    <input type="text" id="signupName" placeholder="name" style="border:1px solid;"/><br/><br/>
    <label>Password</label>
    <input type="password" id="signupPassword" placeholder="password" style="border:1px solid;" /><br/><br/>
    <label>Confirm Password</label>
    <input type="password" id="signupConfirmPassword" placeholder="confirm password" style="border:1px solid;"/><br/><br/>
    <button id="signupButton" style="border:1px solid; padding:5px">Signup</button>
</div>
</section>


