
<section style="heigh:100%; width:40%; margin-left:25%; text-align:center; border:1px solid">
<div>
	
<form action="/user/dologin" method="post">

  <label for="username">Your username?</label>
  <input name="username" type="text" style="border:1px solid #ccc"/>
  <br/>

  <label for="password">Your password?</label>
  <input name="password" type="password" style="border:1px solid #ccc"/>
  <br/>

  <input type="submit" value="login"/>
</form>
</div>
</section>



