<section style="heigh:100%; width:40%; margin-left:25%; text-align:center; border:1px solid">
    <div>
        <h1>Signup</h1><br/>
        <form action="/user/createuser" method="post" id='signup'>

            <label for="username">User Name</label>
            <input name="username" id="signupName" type="text" style="border:1px solid;"/>
            <br/><br/>

            <label for="email">Your Email Id</label>a            <input name="email" id="signupEmail" type="text" style="border:1px solid;"/>
            <br/><br/>

            <label for="password">Password</label>
            <input name="password" id="signupPassword" type="password" style="border:1px solid;"/>
            <br/><br/>

            <label for="confirmPassword">Confirm Password</label>
            <input name="confirmPassword" id="signupConfirmPassword" type="password" style="border:1px solid;"/>
            <br/><br/>

            <label for="mobile">Mobile No.</label>
            <input name="mobile" id="signupMobile" type="number" style="border:1px solid;"/>
            <br/><br/>

            <input id="signupButton" type="submit" style="border:1px solid;"/>
        </form>
    </div>
</section>