<section class="footer-bottom-bar">
	<div class="container f-info">
		<div class="contact-info">
			<h3>Contact Information</h3>
			<div class="f-number">91-9811637373</div>
			<div class="f-email">support@myweddingknot.com</div>
		</div>

		<div class="cms-pages">
			<div class="f-pages-list">
				<a href="javascript:void(0)">About us</a>
				<a href="javascript:void(0)">Contact us</a>
				<a href="javascript:void(0)">FAQ</a>
				<a href="javascript:void(0)">Policies</a>
				<a href="javascript:void(0)">My Account</a>
			</div>
			<div class="f-sicons">
				<a href="javascript:void(0)" class="f-fb"></a>
				<a href="javascript:void(0)" class="f-p"></a>
				<a href="javascript:void(0)" class="f-insta"></a>
				<a href="javascript:void(0)" class="f-twt"></a>
				<a href="javascript:void(0)" class="f-g"></a>
				<a href="javascript:void(0)" class="f-in"></a>
			</div>
			<p class="f-copyright">Copyright © 2017 by Ajoite Technology Pvt. Ltd. All Rights Reserved.</p>
		</div>
	</div>
</section>