<section class="footer-top-bar">
	<h2>Subscribe to Get Updates</h2>
	<form>
		<input type="text" name="nlEmail" placeholder="Enter your Email" /><br />
		<input type="submit" name="nlSubscribe" class="pdp-btn" value="Subscribe">
	</form>
</section>