<section class="infographin-pdp">
    <div>
        <span class="infographic-img info-select-card"></span>
        <span class="infographic-txt">Select a card and make payment</span>
    </div>
    <div>
        <span class="infographic-img info-edit-card"></span>
        <span class="infographic-txt">Edit / upload printing content</span>
    </div>
    <div>
        <span class="infographic-img info-design-card"></span>
        <span class="infographic-txt">Get it designed by our designers</span>
    </div>
    <div>
        <span class="infographic-img info-approve-card"></span>
        <span class="infographic-txt">Review and approve content</span>
    </div>
    <div>
        <span class="infographic-img info-delivered-card"></span>
        <span class="infographic-txt">Get it delivered at your doorstep</span>
    </div>
</section>