Cart Page<br /><br />

<% if(typeof list == 'object' && list){%>
	
	<% _.each(list, function(index, value){ %>
		<label><%= list[value].productname %></label>

		<label><%= list[value].productid %></label> 

		<label><%= list[value].price %></label> <br /><br />

		<!-- <label><%= list[value].productname %></label> <br /><br /> -->
	<% }); %>
	
<% } %>

<% else { %>
	Empty cart
<% } %>