<%
	if(typeof productData == 'object' && productData !== '' && productData !== undefined && productData !== null){	
%>
	<section class="container cart-page">
		<h1 class="page-heading">shopping Cart</h1>

		<div class="cart-body">
			<%- partial('partial/cart-left.ejs')%>
			<%- partial('partial/cart-right.ejs')%>
		</div>

	</section>
<%
	}
	else{
%>
	Your Cart is Empty!!
<%
	}
%>