<section class="chk-step">
	<h2 class="step-head">Billing Information</h2>

	<div class="step-body step-adrs chk-data <%- stepSecond %>" id="chk-adrs">		
		<form >

	        <div class="form-group">
	        	<label>First name</label>
	            <input type="text" name="firstname" class="required">
	            <label class="error-msg"></label>
	        </div>

	        <div class="form-group">
	        	<label>Last name</label>
	            <input type="text" name="lastname" class="required">
	            <label class="error-msg"></label>
	        </div>

	        <div class="form-group">
	        	<label>Address</label>
	            <input type="text" name="address1" class="required">
	            <input type="text" name="address2" class="required">
	            <label class="error-msg"></label>
	        </div>

	        <div class="form-group">
	        	<label>City</label>
	            <input type="text" name="city" class="required">
	            <label class="error-msg"></label>
	        </div>

	        <div class="form-group">
	        	<label>State</label>
	            <input type="text" name="state" class="required" >
	            <label class="error-msg"></label>
	        </div>

	        <div class="form-group">
	        	<label>Pincode</label>
	            <input type="text" name="pincode" class="required" >
	            <label class="error-msg"></label>
	        </div>

	        <div class="form-group">
	        	<label>Country</label>
	            <input type="text" name="country" class="required" >
	            <label class="error-msg"></label>
	        </div>

	        <div class="form-group">
	        	<label>Mobile</label>
	            <input type="text" name="mobile" class="required" >
	            <label class="error-msg"></label>
	        </div>

	        <input class="pdp-btn chk-submit" type="submit" value="Continue" />
	    </form>
	</div>
</section>