<section class="chk-step">
	<h2 class="step-head">Checkout Method</h2>

	<div class="step-body step-login <%- stepFirst%>">
		<div class="chk-data" id="chk-guest">
			<h2 class="chk-subhead">Checkout as a guest</h2>
			<form data-action="/user/find">

		        <div class="form-group">
		            <input type="text" name="email" class="required email" placeholder="email...">
		            <label class="error-msg"></label>
		        </div>

		        <input class="pdp-btn chk-submit" type="submit" value="Continue" />
		    </form>
			
		</div>

		<div class="chk-data" id="chk-user">
			<h2 class="chk-subhead">login</h2>
			<form data-action="/user/find">

		        <div class="form-group">
		            <input type="text" name="email" class="required email" placeholder="email...">
		            <label class="error-msg"></label>
		        </div>

		        <div class="form-group">
		            <input type="text" name="password" class="required" placeholder="password...">
		            <label class="error-msg"></label>
		        </div>

		        <input class="pdp-btn chk-submit" type="submit" value="Log In" />
		    </form>
		</div>
	</div>
</section>