<section class="chk-step">
	<h2 class="step-head">Payment Information</h2>

	<div class="step-body step-pmnt step-close chk-data" id="chk-pmnt">
		<form>
			<div class="radio-group">
				<div>
					<input type="radio" name="pmnt-type" value="card">
					<label>Credit Card / Debit Card / Net Banking(PayU Money)</label>
				</div>

				<div>
					<input type="radio" name="pmnt-type" value="netbanking">
					<label>NEFT / RTGS / IMPS Transfer</label>
				</div>
			</div>

			<input class="pdp-btn chk-submit" type="submit" value="Continue" />
		</form>
	</div>
</section>