.nav-block {
	text-align: center;
	width: 700px;
}
.cart-block {

}
.nav-block {
	width: 900px;
	padding-top: 16px
}
.top-header {
	width: 100%;
	color: #ffcbdf;
	background-color:#fc2c7b;
	height: 28px;
	line-height: 25px;
	font-size: 13px;
	
	text-align: right;
	padding-right: 35px;	
	display: inline-block;
}

.nav-block a {
	color : #333;
	text-decoration: none;
	margin: 0 10px;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'open sans';
}
.cart-block a {
	margin:5px 12px 0;
	display: inline-block;
}

/* login / signup css starts here */
.login-signup-form {
	display: none;
	position: fixed;
	left: 40%;
	top: 40%;
	z-index: 2;
}

.login-signup-form input {
	border: 1px solid #333;
}

.login-signup-form label {
	width: 100px;
	display: inline-block;
}

.overlay {
	display: none;
	position: fixed;
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
}
/* login / signup css ends here */

/* footer css starts here */

/* footer top bar css starts here */
.footer-top-bar {
	text-align: center;
	padding: 100px;
	background-color: #e7e7e7;
}
	
	.footer-top-bar h2 {
		font-size: 40px;
		line-height: 30px;
	    font-weight: normal;
	}

	.footer-top-bar input[type="text"] {
		border: 1px solid #d6d6d6;
	    color: #6f6f6f;
	    font-size: 18px;
	    padding: 15px;
	    margin: 40px 0;
	    font-weight: normal;
	    width: 550px;
	}

	.footer-top-bar input[type="submit"] {
		
	}
/* footer top bar css ends here */

/* footer bottom bar css starts here */
.footer-bottom-bar {
	color: #fff;
	padding: 50px 0;
	background-color: #2d2d2d;
}

	.footer-bottom-bar a {
		color: #fff;
	}

	.f-info {
		display: flex;
		flex-direction: row;
	}
		
		.contact-info {
			flex: 1 1 40%;
		}

			.contact-info h3 {
				font-weight: normal;
			}

			.contact-info div {

			}

			.f-number {
				margin: 20px 0;
			}

		.cms-pages {
			flex: 1 1 60%;
		}

				.f-pages-list a {
					margin-right: 50px;
					cursor: pointer;
				}

			.f-sicons {
				margin: 20px 0;
			}

				.f-sicons a {
					display: inline-block;
					height: 20px;
					width: 20px;
					margin-right: 10px;
					cursor: pointer;
				}

			.f-copyright {
				font-size: 11px;
			}
/* footer bottom bar css ends here */

/* footer css ends here */