.nav-block {
	text-align: center;
	width: 700px;
}
.cart-block {

}
.nav-block {
	width: 900px;
	padding-top: 16px
}
.top-header {
	width: 100%;
	color: #ffcbdf;
	background-color:#fc2c7b;
	height: 28px;
	line-height: 25px;
	font-size: 13px;
	
	text-align: right;
	padding-right: 35px;	
	display: inline-block;
}

.nav-block a {
	color : #333;
	text-decoration: none;
	margin: 0 10px;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'open sans';
}
.cart-block a {
	margin:5px 12px 0;
	display: inline-block;
}

/* login / signup css starts here */
.login-signup-form {
	display: none;
	position: fixed;
	left: 40%;
	top: 40%;
	z-index: 2;
}

.login-signup-form input {
	border: 1px solid #333;
}

.login-signup-form label {
	width: 100px;
	display: inline-block;
}

.overlay {
	display: none;
	position: fixed;
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
}
/* login / signup css ends here */