<a href="javascript:void(0)" data-href="login-form" class="login-signup-link">Login</a> <br />
<a href="javascript:void(0)" data-href="signup-form" class="login-signup-link">Signup</a>

<div class="login-signup-form" id="login-form">
	<form action="/ajax/login" method="POST">
		<label>Email - Id</label>
		<input type="" name="email" /><br /><br />

		<label>Password</label>
		<input type="" name="password" /><br /><br />

		<input type="submit" class="signup-login" name="" value="login" />

	</form>
</div>

<div class="login-signup-form" id="signup-form">
	<form action="/ajax/signup" method="POST">
		<label>Full Name</label>
		<input type="" name="fullname" /><br /><br />

		<label>Email</label>
		<input type="" name="email" /><br /><br />

		<label>Password</label>
		<input type="" name="password" /><br /><br />

		<label>Mobile</label>
		<input type="" name="mobile" /><br /><br />

		<input type="submit" class="signup-login" name="" value="Register" />

	</form>
</div>
<div class="overlay"></div>