<aside class="cart-detail">
	<h2>Cart Totals</h2>

	<div class="cart-breakup">
		<div class="Subtotal">
			<span>Subtotal</span>
			<span>₹ 48.00</span>
		</div>

		<div class="cart-no">
			<span>GST(Tax)</span>
			<span>₹ 5.76</span>
		</div>

		<div class="cart-no">
			<span>Grand Total</span>
			<span class="grand-total">₹ 53.76</span>
		</div>

		<a href="/checkout" class="checkout-btn">Proceed to Checkout</a>
		
	</div>

</aside>